html {
    background-image: url(./dark-bitcoin-scaled.jpg);
    background-size: cover;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}

#title-section {
    color: #c98d3e;
}

section {
    margin: 20px;
    padding: 30px;
    color: white;
}

body {
    margin-right: 20px;
}

#convertBtn {
    color: #c98d3e;
}

.container {
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.kanyeSays {
    color: #50443d;
}